<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/navbar/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <div class="navbar">
        <div class="nav-carry">
            <i style="font-size:large; padding:20px; margin: 6px; color:rgb(69, 69, 69); border-radius: 50%;" class="fa-solid fa-bars"></i>
            <div class="heading" style="font-family: 'Luckiest Guy', cursive; font-size: 30px; display:flex; justify-content: center; align-items: center;"><span style="color:rgb(252, 33, 153);">Tor</span><span  style="color:rgb(28, 107, 255);">ch </span><span style="color:rgb(232, 213, 11);">Be</span><span style="color:rgb(118, 232, 13);">ar</span><span style="color:rgb(178, 25, 255);">er</span></div>
        </div>
        <div class="nav-carry">
            <div id="createbutton">Create New</div>
            <div id="profile">R</div>
        </div>
    </div>
</body>
</html>