<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/newclass">
        <label for="subject">Subject : </label>
        <input type="text" name="subject" required>
        <label for="standard">Standard (optional) :</label>
        <input type="text" name="standard">
        <input type="submit" value="Create Class">
    </form>

</body>
</html>